*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --text-color:#311D3F;
    --bg-color: #88304E;
    --neutral:#E23E57;
    --neutral2:#522546;
}
div.container{
    height: 97.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0 1px;
}
form{
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
    border-radius: 20px ;
}
form > div.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.img-container > i{
    font-size: 150px;
    object-fit: cover;
    border-radius: 40rem;
}
label{
    font-family: Arial;
    font-size: 12px;
    margin: 10px 0 0 20px;
}
label > img{
    width: 15px;
    height: 15px;
}
input{
    width: 75%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    margin: 0px 0 0 20px  ;
    outline: none;
    color: var(--text-color);
    padding: 5px 0 5px 5px;
}
input:last-child{
    margin: 0 0 0 0;
}
input:focus{
    border-bottom: 2px solid var(--neutral);
    transition: 0.5s;
}
button > img{
    width: 15px;
    height: 15px;
}
div.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin:20px 0 0 0;
}
input#sub-btn{
    width: 30%;
    border-radius: 40rem;
    background-color: transparent;
    height: 40px;
    width: 150px;
    border: 1px solid black;
}
div#warning-name, div#warning-pword{
    margin: 5px 0 0 25px;
    text-transform: none;
    font-family: Arial;
    color: red;
    font-size: 10px;
}
button.toggle-password{
    position: relative;
    left: 60px;
    bottom: 240px;
    font-family: Arial;
    background-color: transparent;
    border: none;
    width: 10px;
    font-size: 10px;
}
div#display-info{
    font-size: 25px;
    text-align: center;
}

@media only screen and (min-width: 375px) {
    form{
        width: 75%;
    }
    input{
        width: 80%;
    }
    button.toggle-password{
        left: 90px;
        bottom: 240px;
    }
}
@media only screen and (min-width: 425px) {
    input{
        width: 85%;
    }
    button.toggle-password{
        left: 120px;
        bottom: 240px;
    }
    form{
        width: 75%;
    }
}